* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: poppins;
}
.font-heading {
  font-family: monospace, 'Helvetica Neue', sans-serif;
}
.s40 {
  font-size: 40px;
}
.simple-heading {
  font-family: montserrat, poppins;
}
.dfr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav {
  padding: 0px 100px;
  align-items: center;
  height: 100px;
}
.h80 {
  height: 80vh;
  align-items: center;
  display: flex;
}
.w100 {
  width: 100%;
}
.center {
  text-align: center;
}
p {
  font-family: montserrat;
  font-size: 14px;
}
.w40 {
  width: 40;
}
.menu {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.menu div {
  padding: 12px;
  cursor: pointer;
  margin: 0px 20px;
}
.main-vid {
  mix-blend-mode: lighten;
  filter: hue-rotate(14deg) saturate(3.5);
  background-blend-mode: overlay;
}
.mt40 {
  margin-top: 40px;
}
.button {
  margin-left: 30px;
  padding: 10px 20px;
  border: 0px solid #000;
  font-family: sans-serif;
  font-weight: bold;
  color: blue;
  border-radius: 12px;
}

.r20 {
  border-radius: 20px;
}

.dfr div {
  padding: 20px;
}

.aic {
  align-items: center;
}

img.r20::after {
  position: absolute;
  left: 10px;
  top: 40px;
  content: '';
  height: 30px;
  width: 30px;
  background: #000;
}
